.calendar365 {
  display: block;
  width: 188px;
  height: 25px;
  background: #f00;
  margin:0;
  padding: 14px 2px 46px 36px;
  text-align: left;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px;
}
.img-responsive{
  width: 300px;
  height: 300px;
}

.body_calendar365 {
  font-family: Arial;
  font-size: 14px;
}
#calendar-365-content{
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 25%;
  margin-top: 8%;
}
#calendar-365-content > div{
  margin-left: -10px !important;
  margin-right: -3% !important;
  margin-top: -4% !important;
}
a.calendar365, a.calendar365:hover {
  color: #ff0;
}

.moon_div { width:350px; }

.lb { padding-top:0px; }
.fl { float:left; }
.fr { float:right; }

.l1 { margin:0; }
.l2 { margin:0; }

.clear { clear:both; }


.al {
  color:#cc234c;
  font-family: Arial;
  font-size: 12px;
  background: url(../images/xiao_icon/93.png) no-repeat;
  padding-left: 20px;
  padding-right: 2px;
  padding-top: 1px;
}

.al:hover {
    color: #0d5d9a;
}

.panel-body {
  line-height: 20px;
  padding: 15px;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: none;
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

